@import "../styles/Properties.scss";

.home-main {
  @include flex;
  flex-direction: column;
  align-items: center;
  .home {
    @include flex;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    .left {
      margin-left: 10%;
      width: 50%;
      @include flex;
      justify-content: center;
    }
    .right {
      width: 50%;
      // @include flex;
      // flex-direction: column;
      // justify-content: left;
      text-align: left;
      p {
        width: 340px;
      }

      h1 {
        line-height: 25px;
      }
      button {
        @include button;
      }
    }
  }
}

@media (max-width: 600px) {
  .home-main {
    .about,
    .project,
    .contact {
      margin: 0;
      padding: 0;
      width: 80vw;
    }
    @include flex;
    flex-direction: column;
    align-items: center;
    .home {
      @include flex;
      flex-direction: column;
      justify-content: center;
      width: 80vw;
      .left {
        width: 80vw;
        padding: 0px;
        text-align: left;
        @include flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 80vw;
          margin: 40px 0px;
          padding: 0;
        }
      }
      .right {
        width: 80vw;
        p {
          padding: 0px;
        }
        text-align: center;
        h1 {
          font-size: 30px;
          line-height: 35px;
          margin: 0;
          padding: 0;
        }
        button {
          @include button;
        }
      }
    }
  }
}
