@import "../styles/Properties.scss";

.home-main {
  @include flex;
  flex-direction: column;
  align-items: center;
  .home {
    @include flex;
    .left {
      padding: 20px 20px 0px 200px;
      text-align: left;
      @include flex;
      justify-content: right;
      

    }
    .right {
     p{
        padding: 0px 190px 0px 0px;
     }
      text-align: left;
      h1 {
        line-height: 25px;
      }
      button {
        @include button;
      }
    }
  }
}
