@import "../styles/Properties.scss";

nav{
 @include flex;
 background: linear-gradient(to right, $secondary, $secondary);
 color: $light;
 padding: 0;
 margin: 20px auto;
 width: 70vw;
 border-radius: 50px;
    ul{
        @include flex;
    

        li{
            list-style: none;
            margin: 5px;
            padding: 0px 10px;
        }
        a{
            text-decoration: none;
            color: $light;
        }
    }
}
