@import "../styles/Properties.scss";

.project-h1{
    text-align: center
}

.project{
    @include grid;
    padding: 20px;
    h1{
        text-align: center;
    }

    .image{
        margin: 20px;
        border: 10px solid rgb(236, 236, 236);
        // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.382);
    }

}