$dark: #000000;
$light-black: #21243d;
$light: #ffffff;
$dark-white: #edf7fa;
$primary: #ff6464;
$secondary: #1e53a3;
$secondary-text: #1e53a3c4; 
$green: #98db02;
$purple: #6f3bc4;
$transparent: rgba(0, 0, 0, 0.276);

@mixin flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@mixin button {
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  color: $light;
  background-color: $secondary;
  cursor: pointer;
  transition: all 300ms ease;
  border: 2px solid $secondary;
  &:hover {
    opacity: 90%;
    background-color: rgba(255, 255, 255, 0);
    color: $secondary;
    border: 2px solid $secondary;
  }


}
@mixin clean{
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);

}
